<app-header></app-header>
<div class="container">
    <div class="dashboard-card shadow-1g">
        <h2>AirLine dashboard</h2>
        <div class="button-card">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a class="btn btn-primary" [href]="" routerLink="./emp">AirLine Management</a>
                        </td>

                        <td>
                            <a class="btn btn-primary btn-1g btn-block text center"  role ="button" href="./emplist">
                            <span><i class ="fa fa-users"></i></span><br>
                            
                            AirLine Management</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

